@page
{
	margin: 1em 2em;
}
body
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}
div.cover img
{
	max-width: 99%;
	max-height: 99%;
}
img
{
	max-width: 99%;
	max-height: 99%;
}
a
{
	text-decoration: none;
}
.cover
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}
h1.title
{
	font-size: 240%;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	page-break-after: avoid;
	text-align: center;
}
.subtitle
{
	font-size: 130%;
	margin-top: 2em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0.8em;
        padding-bottom: 1em;
}
.author
{
	margin-top: 5em;
	margin-bottom: 4em;
	text-align: center;
	font-weight: bold;
	font-size: 160%;
}
.copy1
{
	margin-top: 0em;
	margin-bottom: 0.3em;
	text-indent: 0em;
}
.copy
{
	margin-top: 0.7em;
	margin-bottom: 0.1em;
	text-indent: 0em;
}
.copy2
{
	margin-top: 4.5em;
	margin-bottom: 0.3em;
	text-indent: 0em;
}
.h2f
{
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-weight: bold;
	font-size: 160%;
	page-break-after: avoid;
	text-align: left;
}
.h2b
{
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 180%;
	page-break-after: avoid;
	text-align: left;
}
.toc-chap
{
	font-weight: bold;
	margin-top: 1.3em;
	margin-bottom: 0em;
	margin-left: 1.5em;
	text-indent: -1em;
}
.toc-chap1
{
	font-weight: bold;
	margin-top: 1.3em;
	margin-bottom: 0.4em;
	margin-left: 1.4em;
	text-indent: -1.4em;
}
.toc-lev1
{
	font-weight: normal;
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	margin-left: 0em;
}
.toc-lev2
{
	font-weight: normal;
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	margin-left: 0em;
}
.noindent
{
	margin-top: 0.4em;
	margin-bottom: 0.7em;
}
.h2a
{
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	font-weight: bold;
	font-size: 200%;
	margin-left: 0em;
	text-align: left;
}
.h2
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	font-size: 230%;
	margin-left: 0em;
	text-align: left;
}
.h3
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	font-weight: bold;
	font-size: 130%;
	padding-bottom: 0.3em;
	page-break-after: avoid;
	text-align: left;
}
.h4
{
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 120%;
	page-break-after: avoid;
	text-align: left;
}
.h5
{
	font-style: italic;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 110%;
	page-break-after: avoid;
	text-align: left;
}
ul.bull-i
{
        list-style-type: disc;
	margin-top: 0.5em;
	margin-left: -0.5em;
	padding-left: 2.5em;
	margin-bottom: 0em;
}
ul.bull-i li p.bullet
{
	margin-top: 0.5em;
	margin-left: 0em;
	margin-bottom: 0.5em;
	text-indent: 0.002em;
}
ul.bull
{
        list-style-type: disc;
	margin-top: 0.5em;
	margin-left: 0em;
	padding-left: 2.5em;
	margin-bottom: 0em;
}
ul.bull li p.bullet
{
	margin-top: 0.5em;
	margin-left: 0em;
	margin-bottom: 0.5em;
	text-indent: 0.002em;
}
.image1
{
	margin-top: 10em;
	text-align: center;
}
.image
{
	margin-top: 0.5em;
	text-align: center;
}
figcaption
{
	margin-top: 0.8em;
	margin-bottom: 0.5em;
        color: black;
	text-indent: 0.1em;
}
table
{
        border-collapse: collapse;
        border-spacing: 0;
        background: transparent;
        vertical-align: top;
        margin-top: 0.1em;
        margin-right: 0.1em;
        margin-bottom: 0.9em;
        margin-left: 0em;
        width: 100%;
}
table.table1
{
        border-collapse: collapse;
        border-spacing: 0;
        background: transparent;
        vertical-align: top;
        margin-top: 0.1em;
        margin-right: 0.1em;
        margin-bottom: 0.9em;
        margin-left: 0em;
        width: 100%;
}
th
{
        padding-top: 0.1em;
        padding-bottom: 0.3em;
        padding-left: 0.1em;
        vertical-align: top;
	text-align: left;
}
.borderb
{
	border-top: solid #BBBDC0 0.1em;
	margin-top: 0em;
	margin-bottom: 0em;
}
td
{
        padding-left: 0em;
        padding-top: 0em;
        padding-bottom: 0em;
        vertical-align: top;
	text-align: left;
}
.tab-para
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.2em;
	text-indent: 0em;
}
.tab-head
{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.2em;
}
.borderb1
{
	background-color:#E7E7E8;
	margin-top: 0em;
	margin-bottom: 0em;
}
.borderb2
{
	background-color:#D1D2D4;
	margin-top: 0em;
	margin-bottom: 0em;
}
.indexmain
{
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 0.8em;
	font-weight: normal;
	text-indent: -0.8em;
}
.indexsub
{
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 2.1em;
	text-indent: -0.9em;
}
.indexsubsub
{
	margin-top: 0.4em;
	margin-bottom: 0.2em;
	margin-left: 3.5em;
	text-indent: -0.9em;
	font-style: normal;
}
figure > img
{             
                max-width: 99%;
                max-height: 99%;
}
figure
{             
                margin-top: 2em;
                margin-bottom: 2em;
                margin-left: 0em;
                margin-right: 1.5em;
}
.figure
{             
                margin-top: 2em;
                margin-bottom: 2em;
                margin-left: 0em;
                margin-right: 1.5em;
}
.none
{
	margin-top: 0.5em;
	margin-left: 1em;
	margin-bottom: 0.5em;
        list-style-type: none;
}
ol
{
	margin-top: 1em;
	color: #58585A;
	margin-bottom: 1em;
        font-weight: bold;
	margin-left: 0.1em;
}
ol,li p
{
	margin-top: 0.1em;
	margin-left: 0.1em;
	color: #000000;
        margin-bottom: 0.1em;
        font-weight: normal;
	text-indent: -0.1em;
}
.h6
{
	margin-top: 1em;
	margin-bottom: 0.001em;
	font-size: 110%;
	page-break-after: avoid;
	text-align: left;
}
.title-f
{
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	text-indent: 0.1em;
	font-size: 100%;
}
.title-f1
{
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	text-indent: 0.1em;
	font-size: 100%;
	font-style:italic;
}
.halftitle
{
	margin-top: 5em;
	margin-bottom: 0.5em;
	text-align: center;
	text-indent: 0.1em;
        padding-bottom: 1em;
	font-size: 220%;
}
div.image-p img
{
 width: 99%;
}
.image-p
{
 page-break-before: always;
 text-align: center;
}
pre.pre1
{
	font-family: Courier, Courier New, monospace;
	margin-top: 1em;
        margin-bottom: 1.5em;
	margin-left: 0em;
	line-height: 1.3em;
	padding:0.8em 0.3em 0.8em 0.3em;
	font-size: small;
	border-top:solid #BBBDC0 0.15em;
	border-bottom:solid #BBBDC0 0.15em;
}
.codelink
{
	margin-left: 0.3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.middle, img
{
 vertical-align: middle;
}
pre
{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
     white-space: pre;
-ms-overflow: auto;
-moz-overflow: auto;
-webkit-overflow: auto;
padding-bottom: 5pt;
-ms-padding-bottom: 5pt;
-moz-padding-bottom: 5pt;
-webkit-padding-bottom: 5pt;
font-size: small;
}
.title-t
{
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0em;
	page-break-after: avoid;
	text-align: left;
}
code
{
	font-family: Courier, Courier New, monospace;
	font-size: small;
}
ul.bull li p.bull-p
{
	margin-top: 0.5em;
	margin-left: 0em;
	margin-bottom: 0.5em;
	text-indent: 0em;
        font-weight: normal;
        color: #000000;
}
@media amzn-kf8
{
div.image-p img
{
 width: 99%;
}
.image-p
{
 page-break-before: always;
 text-align: center;
}
div.image-pa img
{
 width: 99%;
}
.image-pa
{
 text-align: center;
}
}

.bq
{
	margin-top: 1em;
	margin-bottom: 0.8em;
	margin-left: 1.5em;
	margin-right: 1em;
	text-indent: 0em;
}
.bq1
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
	margin-right: 1em;
	text-indent: 0em;
}
.bq2
{
	margin-top: 0.1em;
	margin-bottom: 0.8em;
	margin-left: 1.5em;
	margin-right: 1em;
	text-indent: 0em;
}
.ul-noindent
{
	margin-top: 0.1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right: 2em;
	text-indent: 0em;
	text-align: left;
}
.big
{
	font-size: 200%;
}
.ded1
{
	margin-top: 7em;
	margin-bottom: 0.5em;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
}
.ded
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
}
.h3i
{
	margin-top: 1em;
	margin-bottom: 0.1em;
	font-weight: bold;
	font-size: 130%;
	padding-bottom: 0.3em;
	page-break-after: avoid;
	border-bottom: solid #000000 0.01em;
	text-align: left;
}
.sidebar
{
	margin-top: 3em;
	margin-bottom: 0em;
	border: solid 0.1em;
	padding:0.5em;
}
.center
{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.footnote
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: left;
	font-size: 90%;
}
