@page
{
	margin: 1em 2em;
}
body
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-right: 15pt;
}
h1
{
	margin-top: 15pt;
	margin-bottom: 12pt;
	text-align: center;
	font-weight: bold;
	page-break-after: avoid;
}
h2
{
	margin-top: 7pt;
	margin-bottom: 25pt;
	font-weight: bold;
	page-break-after: avoid;
	text-align: left;
}
h3
{
	margin-top: 15pt;
	margin-bottom: 3pt;
	font-weight: bold;
	page-break-after: avoid;
	text-align: left;
}
h4
{
	margin-top: 15pt;
	margin-bottom: 3pt;
	font-weight: bold;
	font-size: 110%;
	page-break-after: avoid;
	text-align: left;
}
div.cover img
{
	 
	 
}
.cover
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	text-align: center;
}
.indent
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-indent: 15pt;
}
.noindent
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-indent: 0.002pt;
}
.sb-noindent
{
	margin-top: 4pt;
	margin-bottom: 5pt;
	text-indent: 0.002pt;
	margin-right: 20pt;
	margin-left: 20pt;
	text-align: left;
}
.sb-indent
{
	margin-top: 4pt;
	margin-bottom: 5pt;
	margin-right: 20pt;
	margin-left: 20pt;
	text-indent: 15pt;
	text-align: left;
}
.publisher
{
	margin-top: 100pt;
	margin-bottom: 2pt;
	text-align: center;
}
.address
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	text-align: center;
	page-break-before: avoid;
}
.copy
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	text-indent: 0.024pt;
}
.author
{
	margin-top: 80pt;
	font-weight: bold;
	text-align: center;
	font-size: 120%;
}
.blockquote
{
	margin-top: 12pt;
	margin-bottom: 8pt;
	margin-right: 25pt;
	text-indent: 0.002pt;
	margin-left: 25pt;
	text-align: left;
}
.attribution
{
	margin-top: 8pt;
	margin-bottom: 12pt;
	margin-right: 25pt;
	text-indent: 0.002pt;
	text-align: right;
}
.ded
{
	margin-top: 45pt;
	margin-bottom: 15pt;
	text-align: center;
}
div.image img
{
	 
	 
}
.image
{
	margin-top: 5pt;
	text-align: center;
}
.toc-preface
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	text-indent: 0.002pt;
	margin-left: 10pt;
	text-align: left;
}
.toc-chapter
{
	margin-top: 10pt;
	margin-bottom: 5pt;
	text-indent: 0.002pt;
	margin-left: 10pt;
	text-align: left;
}
.toc-section
{
	margin-top: 5pt;
	margin-bottom: 4pt;
	text-indent: 0.002pt;
	margin-left: 20pt;
	text-align: left;
}
.toc-section1
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 40pt;
	text-indent: 0.002pt;
	text-align: left;
}
.toc-appendix
{
	margin-top: 10pt;
	margin-bottom: 10pt;
	text-indent: 0.002pt;
	margin-left: 10pt;
	text-align: left;
}
.toc-index
{
	margin-top: 10pt;
	margin-bottom: 15pt;
	text-indent: 0.002pt;
	margin-left: 10pt;
	text-align: left;
}
.sidebar
{
	margin-top: 6pt;
	margin-bottom: 12pt;
	margin-left: 18pt;
	margin-right: 18pt;
	page-break-after: avoid;
	page-break-inside: avoid;
}
.title
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: bold;
	margin-left: 10pt;
	margin-right: 20pt;
	page-break-after: avoid;
	page-break-inside: avoid;
}
.indenthangingB
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 35pt;
	text-indent: -7.5pt;
	text-align: left;
}
.indenthangingN
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 35pt;
	text-indent: -12pt;
	text-align: left;
}
.indenthangingNB
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 45pt;
	text-indent: -7.5pt;
	text-align: left;
}
.indenthangingNP
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-indent: 0.002pt;
	margin-left: 35pt;
	text-align: left;
}
.codelink
{
	font-size: 0.88em;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-weight: bold;
	page-break-after: avoid;
}
.pre
{
	font-family: Courier New, monospace;
	font-size: 0.88em;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 20pt;
	text-align: left;
}
code
{
	font-family: Courier New, monospace;
}
.footnote
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	margin-left: 25pt;
	text-indent: -11pt;
	text-align: left;
	font-size: 0.88em;
}
.indexmain
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	text-align: left;
	text-indent: 0.024pt;
}
.indexsub
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	text-indent: 0.002pt;
	margin-left: 15pt;
	text-align: left;
}
.indexsubsub
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	text-indent: 0.002pt;
	margin-left: 30pt;
	text-align: left;
}
.heading
{
	page-break-inside: avoid;
}
.ref
{
	margin-top: 14pt;
	margin-bottom: 4pt;
	text-indent: 0.002pt;
	text-align: left;
}
.ref1
{
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-indent: 0.002pt;
	text-align: left;
}
div.image-p img
{
	 
	 
}
.image-p
{
	page-break-before: always;
	text-align: center;
}
div.image-pa img
{
	 
	 
}
.image-pa
{
	text-align: center;
}


@media all{
div.image-pa img
{
	width: 99%;
}
.image-pa
{
	text-align: center;
}
div.image-p img
{
	width: 99%;
}
.image-p
{
	page-break-before: always;
	text-align: center;
}
}
