body{
margin-left:1em;
margin-right:1em;
}
a
{
text-decoration:none;
}
.a1
{
text-decoration:underline;
}
img
{
margin:0.00em;
padding:0.00em;
max-width:100%;
max-height:100%;
}
span.make_smallcaps
{
font-size:0.833em;
text-indent:0em;
text-align:justify;
}


div.cover
{
margin:0.00em;
text-align:center;
height:100%;
}
div.full
{
width: 100%;
margin: 1em auto;
padding: 0.5em 0.00em 0.5em 0.00em;
text-indent: 0.00em;
text-align: center;
page-break-inside: avoid;
}
.indent{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:1.5em;
text-align:justify;
}
.noindent{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
.noindentt{
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
.noindentt-1{
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
.fmh{
font-size:1.6em;
margin-top:3em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
font-style:normal;
text-align:center;
}

.fmh-1{
font-size:1.6em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
font-style:normal;
text-align:center;
}

.center{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.praise{
font-size:1em;
margin-top:0em;
margin-bottom:1em;
margin-left:2em;
margin-right:0em;
text-indent:-1em;
text-align:justify;
}
.also{
font-size:1em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.copy
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
.copyb
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
.copyh
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
text-align:justify;
}
.copyhb
{
font-size:0.90em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:1em;
margin-right:0em;
text-indent:-1em;
text-align:justify;
}
.ded{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
text-indent:0em;
text-align:justify;
}
.tocp{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.toc{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
text-indent:-1em;
text-align:justify;
font-weight:normal;
}
.toc-1{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.toc1{
font-size:1em;
margin-top:2.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.toc2{
font-size:1em;
margin-top:0em;
margin-bottom:2.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.pn{
font-size:1.8em;
margin-top:3em;
margin-bottom:1.5em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:bold;
font-style:normal;
text-align:center;
}


.pt{
font-size:1.8em;
margin-top:0em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
font-style:normal;
text-align:center;
}
.cn{
font-size:1.6em;
margin-top:3em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:bold;
font-style:normal;
text-align:center;
}
.ct{
font-size:1.7em;
margin-top:0em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
font-weight:normal;
font-style:normal;
text-align:center;
}
.ahead{
font-size:1.2em;
margin-top:2em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:1.5em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
ul.box
{
list-style-image: url('../images/box.jpg');
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:1em;
margin-right:1em;
text-indent:0em;
text-align:justify;
}
ul.tick
{
list-style-image: url('../images/tick.jpg');
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:1em;
margin-right:1em;
text-indent:0em;
text-align:justify;
}
div.img
{
width: 50%;
margin: 0em auto;
padding: 1.5em 0.00em 1.5em 0.00em;
text-indent: 0.00em;
text-align: center;
page-break-inside: avoid;
}
div.img1
{
width: 80%;
margin: 0em auto;
padding: 1.5em 0.00em 1.5em 0.00em;
text-indent: 0.00em;
text-align: center;
page-break-inside: avoid;
}
.imageh{
font-size:1em;
margin-top:0em;
margin-bottom:2em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
}
ol.a
{
list-style-type: lower-alpha;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:1em;
text-indent:0em;
text-align:justify;
}
table
{
width:100%;
border-collapse:collapse;
margin: 1em 0em 1em 0em;
}
td
{
vertical-align:top;
border: solid 2px;
padding: 0.2em 0.2em 0.2em 0.2em;
text-align:center;
}
.note{
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.9em;
margin-right:0em;
text-indent:-2.8em;
text-align:justify;
}
span.sp1
{
padding-left:2.1em;
}
span.sp2
{
padding-left:1.5em;
}
span.sp3
{
padding-left:1em;
}
.indt{
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;
text-align:justify;
}
.ind{
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-2em;
text-align:justify;
}
.ind1{
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-indent:-1em;
text-align:justify;
}

.atp_website
{
font-size:1em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
.atp_address
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:center;
}
/*.right_1
{
font-size:0.90em;
padding:0.5em;
float:right;
}
span[epub|type~='pagebreak'] {
text-indent:0em;
text-align:center;
border:1px solid rgb(180,180,180);
padding:0.1em 0.3em;
}
*/
nav#toc ol
{
list-style-type: none;
margin:0em;
padding:0em;
}
nav#toc ol li
{
margin:0em;
padding:0em;
}
.hide1
{
display:none;
}
.index_dis{
font-size:0.9em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:justify;
}
