body, div, h1, h2, h3, h4, h5, h6, p {
  widows: 2;
  orphans: 2;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  text-align: left;
  page-break-after: avoid;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ol, ul {
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
}
img, div {
  padding: 0;
  margin: 0;
}
div.h100 {
  text-align: center;
  height: 97%;
  max-width: 100%;
  clear: both;
}
img.h100 {
  height: 100%;
  max-width: 100%;
}
div.w100 {
  text-align: center;
  max-height: 100%;
  width: 100%;
  clear: both;
  margin: 1em 0;
}
img.w100 {
  max-height: 100%;
  width: 100%;
}
img.h1em {
  height: 1em;
}
img.h2em {
  height: 2em;
}
img.h4em {
  height: 4em;
}
div.footnote {
  margin-top: 15%;
}
div.left-border {
  border-left: 2px solid black;
  margin: 15% 0 10% 0;
}
div.left-border-1 {
  margin: 15% 0 10% 1em;
}
div.w50c {
  text-align: center;
  max-height: 100%;
  margin: 1em 25%;
  clear: both;
}
div.w70c {
  text-align: center;
  max-height: 100%;
  margin: 1em 15%;
  clear: both;
}
div.w80c {
  text-align: center;
  max-height: 100%;
  margin: 1em 10%;
  clear: both;
}
p.x01-FM-Contents-A-Head {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.75em;
  margin: 0.44em 0 0 1.56em;
  text-indent: 0;
}
p.x01-FM-Contents-BM-Head {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 0.917em;
  margin: 1em 0 0 0;
  text-indent: 0;
}
p.x01-FM-Contents-BM-Head-First {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 0.917em;
  margin: 2.18em 0 0 0;
  text-indent: 0;
}
p.x01-FM-Contents-CT {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 1.083em;
  margin: 0.85em 0 0.38em 0;
  text-indent: 0;
}
p.x01-FM-Contents-CT-First {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 1.083em;
  margin: 2em 0 0 0;
  text-indent: 0;
}
p.x01-FM-Copyright-Text {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: 0;
  text-indent: 0;
}
p.x01-FM-Copyright-Text-FL {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: 0;
  text-indent: 0;
}
p.x01-FM-Copyright-Text-Space {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: 0.59em 0 0 0;
  text-indent: 0;
}
p.x01-FM-Copyright-Text-Space-FL {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: 0.59em 0 0 0;
  text-indent: 0;
}
p.x01-FM-Dedi-Body {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  font-style: italic;
  margin: 15% 0 0 0;
  text-align: center;
  text-indent: 0;
}
h1.x01-FM-Head {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 1.75em;
  margin: 15% 0 10% 0.38em;
  page-break-after: avoid;
  text-indent: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  display: inline-block;
  padding: 0 0 .25em .25em;
}
p.x03-CO-Body-Text {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  margin: 10% 0 0 0;
  text-indent: 0;
}
h1.x03-Chapter-Number {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 1.25em;
  margin: 0 0 0 0;
  page-break-after: avoid;
  text-indent: 0;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-bottom: 0.38em;
  padding-left: 0.38em;
}
h1.x03-Chapter-Number-1 {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 1.25em;
  margin: 0 0 0 0;
  page-break-after: avoid;
  text-indent: 0;
}
h1.x03-Chapter-Title {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 1.75em;
  margin: 0.36em 0 0 0.29em;
  page-break-after: avoid;
  text-indent: 0;
  font-weight: bold;
}
h1.x03-Chapter-Title-1 {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 1.75em;
  margin: 0.36em 0 0 0;
  page-break-after: avoid;
  text-indent: 0;
  font-weight: bold;
}
p.x04-Body-Text {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  margin: 0;
  text-indent: 1.76em;
}
p.x04-Body-Text-FL {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  margin: 0;
  text-indent: 0;
}
p.x04-Space-Break-FL {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  margin: 0;
  text-indent: 0;
}
p.x04-Space-Break-Orn {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  margin: 1.46em 0;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
}
h2.x05-Head-A {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 1.15em;
  margin: 1.81em 0 0.94em 0;
  page-break-after: avoid;
  text-indent: 0;
}
li.x07-List-Bulleted {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  margin: 0 0 0 2.5em;
  text-indent: 0;
}
li.x07-List-Bulleted-First {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  margin: 1.5em 0 0 2.5em;
  text-indent: 0;
}
li.x07-List-Bulleted-Last {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  margin: 0 0 1.5em 2.5em;
  text-indent: 0;
}
li.x07-List-Numbered {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  list-style-type: decimal;
  margin: 0 0 0 3.2em;
  text-indent: 0;
}
li.x07-List-Numbered-First {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  list-style-type: decimal;
  margin: 1.5em 0 0 3.2em;
  text-indent: 0;
}
li.x07-List-Numbered-Last {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  list-style-type: decimal;
  margin: 0 0 1.5em 3.2em;
  text-indent: 0;
}
p.x07-List-Unnumbered {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  margin: 0.8em 0 0 1.8em;
  text-indent: 0;
}
p.x07-List-Unnumbered-First {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  margin: 1.9em 0 0 1.8em;
  text-indent: 0;
}
p.x07-List-Unnumbered-Last {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.833em;
  margin: 0.8em 0 1.9em 1.8em;
  text-indent: 0;
}
p.x12-Caption {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 1.417em;
  margin: 0.88em 0 0 0;
  text-align: center;
  text-indent: 0;
}
p.x13-BM-Ack {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  margin: 0;
  text-indent: 1.76em;
}
p.x13-BM-Ack-First {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.854em;
  margin: 0;
  text-indent: 0;
}
h1.x13-BM-Ack-Head {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 1.75em;
  margin: 15% 0 10% 0.38em;
  page-break-after: avoid;
  text-indent: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  display: inline-block;
  padding: 0 0 .25em .25em;
}
p.x13-BM-Biblio {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: 0 0 0 1.65em;
  text-indent: -1.53em;
}
p.x13-BM-Biblio-First {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: 0 0 0 1.65em;
  text-indent: -1.53em;
}
p.x13-BM-Endnotes {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: .5em 0 0 0;
  text-indent: 0;
}
p.x13-BM-Endnotes-Head-A {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 0.833em;
  margin: 1.1em 0 0 0;
  text-indent: 0;
}
p.x13-BM-Endnotes-Head-A-First {
  font-family: "ATErbar Condensed Medium" , "Helvetica" , sans-serif;
  font-size: 0.833em;
  margin: 10% 0 0 0;
  text-indent: 0;
}
p.x13-BM-Endnotes-Para {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.708em;
  margin: 0 0 0 0;
  text-indent: 2.12em;
}
h1.x13-BM-Head {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 1.75em;
  margin: 15% 0 10% 0.38em;
  page-break-after: avoid;
  text-indent: 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  display: inline-block;
  padding: 0 0 .25em .25em;
}
p.x13-BM-Index-1 {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
  margin: 0 0 0 2em;
  text-indent: -2em;
}
p.x13-BM-Index-2 {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
  margin: 0 0 0 2em;
  text-indent: -1em;
}
p.x13-BM-Index-Alpha {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
  margin: 1.37em 0 0 2em;
  text-indent: -2em;
}
p.x13-BM-Index-Note {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
  margin: 0;
  text-indent: 0;
}
p.xFootnote-Text {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
  margin: 0;
  text-indent: 0;
}
p.xFootnote-text {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
  margin: 0;
  text-indent: 0;
}
p.xFootnote-text-Para {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
  margin: 0;
  text-indent: 1.12em;
}
span._1-FM-Contents-CN {
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
  font-size: 90%;
}
span._3-BM-Endnote-Key-Phrase {
  font-weight: bold;
}
span.Contents-Number {
  font-family: "Janson Text LT Pro" , "Georgia" , serif;
  font-size: 0.667em;
}
p.x03-CO-Body-Text::first-letter {
  font-size: 2.6em;
  line-height: 0.65;
  float: left;
  margin: 0 0.05em 0 0;
  font-family: "ATErbar Condensed Light" , "Helvetica" , sans-serif;
}
